:root {
	--font-xs: 0.8rem;
	--font-sm: 1rem;
	--font-md: 1.4rem;
	--font-lg: 1.8rem;
	--font-xl: 2rem;
	--font-2xl: 2.4rem;
	--font-3xl: 2.4rem;
	--font-4xl: 3rem;
	--font-5xl: 3.6rem;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a, button, input {
  display: inline-block;
}

img {
	width: 100%;
	display: block;
}

hr {
  height: 2px;
  background: #457;
  margin: 0 auto;
  width: 85%;
}

.list {
  list-style-type: none;
}

.box {
  background: #eaeaf0;
  padding: 3.5rem 2rem;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 600px;
	margin: 0 auto;
}

.dets {
  font-size: 2rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  color: #333;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 1.8rem;
  }
}

.content {
  line-height: 1.6;
  color: #444;
  font-size: 1.1rem;
}


.formation--col {
	display: flex;
	flex-direction: column;
}

#app {
  background: #eaeaf0;
  min-height: 100vh;
}

body {
  background: #eaeaf0;
}

:root {
  min-height: 100vh;
}
